ROM Original/
ROM Modificada/
All Files/
Arquivos Gerados/
Ferramentas/
Programas/
Imagens Originais (Outros)/
Output/4215 - Professor Layton and Pandora's Box (EUR)(BAHAMUT).nds
Textos Traduzidos_/